extends layout

block content
	header
		h1= title
	section
		section#left
			div#left_title Document List							
			div#left_body
			div#left_bottom
				a#create_doc.btn Create new document
		section#right
	script(src='../javascripts/libs/require/require.js',data-main='../javascripts/main')