html {
  height: 100%;
}
body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
p,
hr {
  margin: 0;
}
body {
  background-color: #fff;
  height: 100%;
}
a img {
  border: none;
}
a {
  text-decoration: none;
}
em,
var {
  font-style: normal;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
body,
td,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-family: "Microsoft yahei", Arial, SimSun, sans-serif;
  font-style: normal;
  font-weight: 100;
}
.fix {
  zoom: 1;
}
.fix :after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
input,
textarea,
a,
button {
  zoom: 1;
  outline: 0;
}
input::-moz-focus-inner {
  border: none;
}
input,
textarea,
button {
  border: 0 none;
  background: #fff;
}
.btn {
  display: block;
  background: #fafaf9;
  border: 1px solid #fff;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
}
.btn :hover {
  cursor: pointer;
}
.btn :active {
  background: #ddd;
  border: 1px solid #ccc;
  color: #fff;
}
header {
  display: block;
  text-align: center;
  height: 22px;
  border-bottom: 1px solid #999;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#bbb));
  background: -moz-linear-gradient(top, #ddd, #bbb);
  background: -ms-linear-gradient(top, #ddd, #bbb);
}
header h1 {
  height: 100%;
  font-size: 14px;
  text-shadow: 0 1px 1px #eee;
  -moz-text-shadow: 0 1px 1px #eee;
  -webkit-text-shadow: 0 1px 1px #eee;
}
section {
  height: 97.5%;
}
section #left {
  float: left;
  width: 15%;
  min-width: 150px;
  height: 100%;
  border-right: 2px solid #ddd;
  background-color: #eee;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 1px 0 2px rgba(160,160,160,0.8);
}
section #left #left_title {
  text-align: center;
  font-size: 14px;
  height: 4%;
  min-height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed #ccc;
}
section #left #left_body {
  height: auto;
  margin: 5px auto;
}
section #left #left_bottom {
  height: 40px;
  width: 100%;
}
section #left #left_bottom #create_doc {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  line-height: 40px;
  cursor: pointer;
}
section #left #left_bottom #create_doc :hover {
  text-shadow: 0 0 5px #fff;
}
section #right {
  float: left;
  width: 75%;
  height: 100%;
  overflow: auto;
}
